page-contactus {


.toolbar-background{
    background: linear-gradient(left,#26568c,#91c2ff);
    background: -webkit-linear-gradient(left,#26568c,#91c2ff);
    background: -moz-linear-gradient(left,#26568c,#91c2ff);
        }
    
.back-button.show-back-button {
    display: none;
            }
    
.menu{
    color: #fff;
            } 
    
p {
    text-align: justify;
    color: #ababab;
    font-size: 14px;
    font-weight: normal;
    }

.cnctct-list .label {
    font-size: 16px;
    margin-left: 8px;
}

.cnctct-list .text-input{
    margin-left: 8px;
}

.btnblu {
    color: #fff;
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
    display: table;
    text-transform: none;
    padding: 19px 0;
    font-size: 18px;
    font-weight: normal;
}
     h4 {
        font-size: 20px;
        margin-top: 5px;
        margin-left: -53px;
        margin-bottom: 0;
    }

    }