<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="home-bg">
  <button  class="backbtn" (click)="backtoforgt()">
    <ion-icon class="customIcon" name="arrow-back"></ion-icon>
</button>

<div style="width:100%; height:13px;"></div>
<img class="frgtimg" src="assets/imgs/reset.png">
<h3>Change your Password</h3>
<form #changeForm="ngForm"  novalidate>
<ion-grid class="sign">
  <ion-row>
  <ion-col col-12>
   
    <ion-list class="sgnp-list">
        <ion-grid class="inpt-signp">
         <ion-row>
              <ion-col col-1 no-padding> <img class="inpimg" src="assets/imgs/key.png"></ion-col>
              <ion-col col-11>
          <ion-item>        
               <ion-input type="password" placeholder="Enter your Old Password" [(ngModel)]="data.password"  name='password' minlength="6" required #password="ngModel"></ion-input>
  </ion-item>
  <ion-label class="alert alert-danger" color="danger">
          <div *ngIf="password.errors && (password.dirty || password.touched)">
          <div [hidden]="!password.errors.required" >
           Password is required
          </div>
      </div>
       <div *ngIf="password.errors && (password.dirty || password.touched)" >
         <div [hidden]="!password.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
     </ion-label>
              </ion-col></ion-row>
          <ion-row>
              <ion-col col-1 no-padding> <img class="inpimg" src="assets/imgs/key.png"></ion-col>
              <ion-col col-11>
          <ion-item>        
                <ion-input type="password" placeholder="Enter your New Password" [(ngModel)]="data.newpassword" name='newpassword' minlength="6" required #newpassword="ngModel" ></ion-input>
  </ion-item>
  <ion-label class="alert alert-danger" color="danger">
      <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)">
         <div [hidden]="!newpassword.errors.required" >
           Password is required
          </div>
      </div>
      <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" >
         <div [hidden]="!newpassword.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
      </ion-label>
              </ion-col></ion-row>
              <ion-row>
                <ion-col col-1 no-padding> <img class="inpimg" src="assets/imgs/key.png"></ion-col>
                <ion-col col-11>
            <ion-item>        
              <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="data.conpassword" name='conpassword' minlength="6" required #conpassword="ngModel"></ion-input>
  </ion-item>
   <ion-label class="alert alert-danger" color="danger">
   <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)">
         <div [hidden]="!conpassword.errors.required" >
           Password is required
          </div>
      </div>
       <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)" >
         <div [hidden]="!conpassword.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
     </ion-label>
                </ion-col></ion-row>
                 
</ion-grid>
</ion-list>

      <button ion-button full color="blue" class="btnblu" (click)="changepassword(changeForm);" [disabled]="!changeForm.form.valid">Submit</button>
 
  </ion-col>
 
  </ion-row>
</ion-grid>
</form>
</ion-content>
