page-favourite {

.toolbar-background{
      background: linear-gradient(left,#26568c,#91c2ff);
        background: -webkit-linear-gradient(left,#26568c,#91c2ff);
         background: -moz-linear-gradient(left,#26568c,#91c2ff);
    }

// .toolbar-title {
    
//     font-size: 2rem;
//     font-weight: 500;
//     color: #ffffff;
//     text-align: center;
//     }

.button{
    color: #fff;
    background-color: transparent;
    box-shadow: none;
    float: right;
}


.back-button.show-back-button {
    display: none;
    }

.menu{
    color: #fff;
    padding-top: 10px;
} 

img.filter {
    // width: 30%;
    // margin-top: -17px;
    width: 90%;
    padding-top: 1px;
}

.button:hover:not(.disable-hover) {
    background-color: transparent;
}

.prfl-detl{
/*    background-image:  url("../assets/imgs/banner6.jpg");
    background-size: cover;
    margin-bottom: 1px;    
    width: 100%;
    float: left;
    background-repeat: round;*/
    position: relative;
    overflow: hidden;
    height: 129px;
  
    .favbox.grid {
    position: absolute;
    top: 1px;
}

img.favimg {
    width: 100%;
    height: 100%;
}
}

.heart-bx{
    position: relative;
    overflow: hidden;
    /* border: 1px solid; */
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #326297;
    float: right;
        

.heart{
    color:#ffea00;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 6px;
}}

.prfl-detl1{
    background-image:  url("../assets/imgs/banner7.jpg");
    background-size: cover;
    margin-bottom: 1px;    
    width: 100%;
    float: left;
    background-repeat: round;
    }

.prfl-detl2{
    background-image:  url("../assets/imgs/banner8.jpg");
    background-size: cover;
    margin-bottom: 1px;    
    width: 100%;
    float: left;
    background-repeat: round;
        }

.search{
    padding: 3px;
        }

// .heart-bx{
//     position: relative;
//     overflow: hidden;
//     /* border: 1px solid; */
//     width: 28px;
//     height: 28px;
//     border-radius: 50%;
//     background-color: #326297;
//     float: right;
        

// .heart{
//     color:#ffea00;
//     font-size: 20px;
//     position: absolute;
//     top: 5px;
//     left: 6px;
// }}

h4 {
    font-size: 17px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.pin{
    color: #e85858;
    font-size: 21px;
    margin-top: 40px;

}

.star {
    color: #f5cf00;
    font-size: 22px;
}

.multistars {
    // margin: 12px 0 0 40px;
    text-align: right;
    margin-top: 40px;
}

h5{
    margin-top: 43px;
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: 1.2;
    color: #fff;
    font-size: 15px;
}

.heart-bx1{
    position: relative;
    overflow: hidden;
    border: 1px solid #326297; 
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #e85858;
    float: right;
        
.heart1{
    color:#fff;
    font-size: 20px;
    position: absolute;
    top: 4px;
    left: 5px;
}}

.ovrly_hrt {
    width: 100%;
    float: left;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    top:1px;
}
}
