page-main {

    img {
        width: 37%;
        border: 0;
        margin: 0 auto;
        display: table;
    }

    .grid.log{
        padding: 0 14px;
           margin-top: 156px;

    .btnblu {
        color: #fff;
        border-radius: 40px;
        width: 80%;
        margin: 0 auto;
        display: table;
        box-shadow: 0 2px 8px 0 #000;
        text-transform: none;
        padding: 20px 0;
        font-size: 18px;
        font-weight: normal;
    }

    .btnoutblu{
    color: #3c6a9c;
    background-color: transparent;
    width: 81%;
    border-radius: 26px;
    margin: 0 auto;
    display: table;
    box-shadow: 0 2px 8px 0 #000;
    text-transform: none;
    padding: 19px 0;
    font-size: 18px;
    font-weight: normal;
}}

}