page-editprofile
 {
    // .header-bg{
    //     background: url("../assets/imgs/banner5.jpg") ;
	//     background-size: cover;
    // }

    .toolbar-background {
        background-image:  url("../assets/imgs/banner5.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }

      button.backbtn {
        background-color: transparent;
        color: #fff;
        font-size: 23px;
    }

    // .toolbar-title {
    //     padding: 0 12px;
    //     font-size: 2rem;
    //     font-weight: 500;
    //     color: #fff;
    //     text-align: center;
    // }
    // .toolbar-title {
    //     padding: 0 12px;
    //     font-size: 22px;
    //     font-weight: 500;
    //     color: #fff;
    //     width: 100%;
    //     float: left;
    //     /* margin-left: 88px; */
    //     text-align: right;
    // }

    .button{
    
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
    color: #fff;

    }

    .btn:hover {
        background-color: transparent;

        }

    // button.backbtn {
    //     background-color: transparent;
    //     color: #fff;
    //     font-size: 24px;
    //     margin-top: 7px;
    // }

    .btnblu {
        background-color: #326297;
        color: #fff;
        border-radius: 40px;
        width: 80%;
        margin: 10px  auto;
        display: table;
        text-transform: none;
        padding: 19px 0;
        font-size: 18px;
        font-weight: normal;
        box-shadow: 0 2px 8px 0 #000;
  }
    .dyz-box{
    .checkbox{
            margin: 9px 9px 9px 14px !important;
    }
    
    .item{
    padding-left: 4px;
    font-size: 14px;
    width: 307px;
 }
    }
.prflbox {
    position: relative;
    overflow: hidden;
    width: 86px;
    height: 87px;
    margin: 0 auto;
    display:block;

 .icn-pls {
            position: absolute;
            bottom: -2px;
            left: 63%;
    }

    .profile-img {
        position: relative;
        overflow: hidden;
        width: 86px;
        height: 86px;
        border-radius: 50%;
        margin: 0 auto;
        display:block;
    }

    img.pic {
        width: 100%;
        height: 100%;
    }

/*    .icn-pls {
        position: absolute;
        bottom: 11px;
        left: 55%;
    }*/

    ion-icon {
        font-size: 24px;
        color: #595959;
    }
}

.grid{
    padding: 0;
}

.profile-txt{
h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    margin-bottom: 0;
    color:#fff;
}

h6 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 3px;
    text-align: center;
    margin-bottom: 0;
    color:#fff;
}

h5 {
    font-size: 13px;
    margin-top: 0;
    text-align: right;
    color: #40dad7;
    margin-right: 30px;
}

h3 {
    font-size: 13px;
    margin-top: 0;
    color: #40dad7;
}}

.prfl-detl {
    margin-top: 4px;
    padding-bottom: 2px;
    background-color: #fff;
    box-shadow: 0px 0px 13px -5px #dadada;

/*    .item-inner {
         border-bottom: none !important; 
    }*/

    label{
      font-size: 15px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    color: #595959;
    }

    img.dtl {
        margin: 2px 0 0 4px;
    }

    li {
        font-size: 16px;
        color: #595959;
    }
}


   h1{
    font-size: 20px;
    margin-top: -1px;
    margin-bottom: 24px;
    font-weight: normal;
/*    color: #595959;*/
}


.prfl{
    background-color: #f7f7f7;
/*        border-bottom: 2px solid #fff200;*/
    }

.acheivmnt {
    position: relative;
    overflow: hidden;
    width: 96px;
    height: 96px;
    border-style: dotted;

img.achv {
    width: 100%;
    height: 100%;
}}

.menu{
    color: #fff;
}

.add{
    display: inline-block;
    font-size: 22px;
    margin: 34px auto;
    display: table;
}

.swiper-container {
   
    height: 63%;
}

.listgrid.grid {
    margin-top: 22px;
}



.prcsbx {
    background-color: #fff;
    padding: 10px 0px;
    margin-top: 10px;
    border-bottom: 4px solid #f3f3f3;
    
/*    .text-input{
            border-bottom: 1px solid #dedede;
}*/


    }


h3 {
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
}

label {
    color: #595959;
    margin-left: 4px;
    font-size: 15px;
}

// .prcsbx{
// .label{
//     margin: 13px 0px 13px 0;
// }}

.prcsbx {

   

    .label.stts{
    color: #595959;
    margin-left:0px;
    font-size: 15px;
}

.slct-dt{
    padding-left: 4px;
    // border-bottom: 1px solid grey;
    .select {
        padding: 13px 2px 13px 0px;
    }
    ion-select {
        max-width: 72%;
    }
    .select-text {
        overflow: visible;
        min-width: 34px;
        font-size: 14px;
    }
    .label{
        font-size: 14px;
        margin: 13px 0px 13px 0;
    }

}

.slct{
    padding-left: 4px;
}

.slct .item-inner {
    border-bottom: none;
}
}

.processdtl {
    .item-input:last-child{
        border-bottom: none ;
        }
}

.prflbox {
    position: relative;
    overflow: hidden;
    width: 86px;
    height: 87px;
    margin: 10px auto 0;
    display: block;

.profile-img {
    position: relative;
    overflow: hidden;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    }

img.pic {
    width: 100%;
    height: 100%;
    }

.icn-pls {
    position: absolute;
    bottom: -2px;
    left: 63%;
    }

ion-icon {
    font-size: 24px;
    color: #595959;
    }
}

h5{
    color: #595959;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
}
 h4 {
        font-size: 20px;
        margin-top: 5px;
        margin-left: -50px;
        margin-bottom: 0;
    }

 
    
  .prcsbx .select-text{
        font-size: 14px;
} 

   .upldimg {
    position: relative;
    overflow: hidden;
    width: 93px;
    height: 96px;
/*    border:1px solid;*/
    border-style: dotted;
        margin-left: 6px;
   margin-top: -12px;
    margin-bottom: -10px;
    
img.pic {
    width: 100%;
    height: 100%;
}
img.upld {
    width: 100%;
    height: 100%;
}
  
.clseimg {
   position: absolute;
    top: -3px;
    right: 0;
    }
    .closeicn{
        font-size: 20px;
        font-weight: bold;
    }   
    }
    
    
 

 
.text-input{
white-space: normal;
 
    }
    
    ion-textarea{
     border-bottom: 1px solid #dedede;
}

.icn-crs{
        position: absolute;
}
 }