page-referralcode {

.home-bg{
    background: url("../assets/imgs/banner4.jpg") ;
    background-size: cover;
    }

button.backbtn {
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    margin-top: 7px;
    }

.btnblu {
    color: #fff;
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
    display: table;
    text-transform: none;
    padding: 19px 0;
    font-size: 18px;
    font-weight: normal;
    box-shadow: 0 2px 8px 0 #000;
  }
 
img.inpimg {
    width: 61%;
    margin: 20px 0 0 14px;
}

.sgnp-list{
    margin: 0px 0 25px;
  
}

.sgnp-list .item{
background-color: transparent;
}

h3 {
    font-size: 20px !important;
    text-align: center;
    font-weight:500;
    color: #fff;

}

.frgtimg{
    margin:0 auto;
    display: table;
    width: 12%;
    
}

.sign.grid {
    margin-top: 0px;
}

p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 0 39px;
}

.rst{
    font-weight: 900;
}

/*.home-bg{
    border-bottom: 2px solid #fff200;
}*/

h1 {
    margin-top: 0;
    font-size: 26px;
    text-align: center;
    color: #fff;
    margin: 42px 0;
}
}