<ion-header>
    <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-2><button ion-button menuToggle>
            <ion-icon class="menu" name="menu"></ion-icon>
          </button></ion-col>
        <ion-col col-8> <ion-title><h6>Notification</h6></ion-title></ion-col>
        <ion-col col-2> 
          <div class="notfctn">
            <button ion-button  class="btn">
              <ion-icon class="not" name="notifications"></ion-icon>
              <div class="txt"><p>4</p></div>
          </button></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content class="cntn-bg">
   <div class="notificatndetails" *ngFor="let flisting of hospdata">
      <div  *ngFor="let detail of flisting.hospital_info">
          <div class="prfl-detl" >
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-3>
                <div class="notifctnimg">
                  <img class="notfct" src={{this.url}}{{detail.bannerimage}}>
                </div>
              </ion-col>
            <ion-col col-9>
              <div class="txt-notc">
              <h4> {{detail.title}}</h4>
        <ion-grid class="ntbx">
<!--          <ion-row>
            <ion-col col-7 no-padding>
<h6><span class="notif">Need: </span>Surgeon Specialist</h6>
            </ion-col>
            <ion-col col-5 no-padding>
                <h6><span class="notif">Pay:</span> $20/hour </h6>
            </ion-col>
          </ion-row>-->
          <ion-row>
              <ion-col col-1 no-padding>  <ion-icon class="pin" name="pin"></ion-icon></ion-col>
              <ion-col col-5 no-padding><h5>{{detail.city}},{{detail.country}}</h5></ion-col>
          <ion-col col-3 no-padding><button (click)="cnfrmatn(flisting._id)" ion-button class="accptbtn" color="secondary" outline>Accept</button></ion-col>
          <ion-col col-3 no-padding><button (click)="confirmation(flisting._id)" ion-button class="rjctbtn" color="danger" outline>Reject</button></ion-col>
          </ion-row>
          </ion-grid></div>
          </ion-col>
            </ion-row>
        </ion-grid>
      </div>


 </div>
    </div>
</ion-content>
