page-signin {

    img {
        width: 37%;
        border: 0;
        margin: 0 auto;
        display: table;
    }

   

    .btnblu {
        color: #fff;
        border-radius: 40px;
        width: 80%;
        margin: 0 auto;
        display: table;
        text-transform: none;
        padding: 19px 0;
        font-size: 18px;
        font-weight: normal;
        margin-top: -20px;
  }

  img.inpimg {
    width: 56%;
    margin: 16px 0 0 14px;
}

  img.mlimg {
  width: 61%;
margin: 22px 0 0 14px;
}

.sgnp-list{
    margin: 13px 0 25px;
}

h6 {
    font-size: 1.6rem;
    color: #828282;
    font-weight: 500;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0;
}

span.signn{
    color: #326297;
}

h3 {
    font-size: 17px;
    color: #828282;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

h4 {
    font-size: 17px;
    color: #828282;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}


.sign.grid {
    margin-top: 35px;
}

.tags{ 
/*    margin:0;*/
    padding:0;
    display:inline-block;
    list-style-type:none;
    margin: 2px auto;
    display: table;

 li{
    display:inline-block;
    margin: 0 2px;
    padding: 0;
}

 li img{
        margin: 9px auto;
}

.social {
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* border: 2px solid; */
    background-color: #3c5b9b;
}

.socialtwt{
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* border: 2px solid; */
    background-color: #2daae1;
}

.socialggl{
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* border: 2px solid; */
    background-color: #f63e28;
}
}

h5 {
    font-size: 17px;
    color: #828282;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

a{
    color: #828282;
    text-decoration: none;
}

.chkbx{
    margin-left: -8px;
    
.item {
    padding-left: 12px;
    padding-right: 0;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    color: #999;
}

.checkbox {
    width: 14px;
    height: 14px;
}


}

.chkbx .label{
        padding-top: 15px;
}

.sgnp-list .label    {
    margin: 0 8px 13px 0;
}
}