<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>

      <ion-title>Dr. Mary Alvarez</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    
    <ion-grid class="side-menudoc">
      <ion-row>
        <ion-col col-3>
<div class="dr-image">
    <div class="profile-img">
          
      <img *ngIf="this.userimg == '' || this.userimg == 'undefined' || this.userimg == null "  class="dr-img" src="assets/imgs/no-user-image.gif"/>
          <img *ngIf="this.userimg != ''" class="dr-img" [src]="this.userimg"/></div>
</div>
        </ion-col>
        <ion-col col-9>
          <h2>{{this.usernm}}</h2>
          <h3>{{ this.useremail}}</h3>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="side-menubar">
        <button menuClose color="black" ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.active]="checkActivePage(p)">
          <ion-icon class="kb"><img src="{{p.icon}}"></ion-icon>
         <span class="ttl_mnnu">{{p.title}}</span> 
        </button>
           <button menuClose color="black" ion-item  (click)="logout()" >
<!--     <ion-icon class="kb"><img src="{{p.icon}}"></ion-icon>-->
         <span class="ttl_mnnu">Logout</span>  
               <img src="assets/imgs/exit.png">
        </button>
      </ion-list>
      <!-- <div style="width:100%; height:74px;"></div>
    
      <ion-grid (click)="gotoprofile()" no-padding >
          <ion-row class="sidemenu-txt">
            <ion-col col-10>  
                <a href="#"> <h6>Dr. Mary Alvarez</h6></a></ion-col>
    <ion-col col-2>
        <ion-icon class="lefty" name="arrow-round-forward"></ion-icon>
    </ion-col>
      </ion-row>
    </ion-grid> -->
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>



    <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button> -->
