<ion-header class="header-bg" align-title="center" >

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <button  class="backbtn" (click)="backtosigin()">
            <ion-icon class="customIcon" name="arrow-back"></ion-icon></button>
        </ion-col>
        <ion-col col-10>
            <ion-title><h4>Process</h4></ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    
      
    </ion-toolbar>
</ion-header>


<ion-content class="prfl">
    <form #heroForm="ngForm">
    <ion-list class="processdtl">

 <ion-grid no-padding class="listgrid">
    <ion-row>
        <ion-col col-12>
          <div class="prflbox">
            <div class="profile-img">
             <img *ngIf="this.prfimage == '' || this.prfimage == undefined"  class="pic" src="assets/imgs/no-user-image.gif"/>
          <img *ngIf="this.prfimage != ''" class="pic" [src]="this.prfimage"/></div>
              <div class="icn-pls" (click)="openActionSheet()"> <ion-icon name="add-circle"></ion-icon></div>
              </div>
        </ion-col>
      </ion-row>
   <ion-row>
     <ion-col col-12 no-padding><h3>Basic Information</h3></ion-col>
</ion-row>

      
           <ion-row>
              <ion-col col-12 no-padding>    
                  <div class="prcsbx">
                  <!-- <label></label> -->
                  <ion-item class="slct">
                    <ion-label class="stts">Status</ion-label>
                    <ion-select type="text" name="status" [(ngModel)]="data.status" id="status" #status="ngModel">
                      <ion-option>I am Available</ion-option>
                      <ion-option>Not available</ion-option>
                      
                    </ion-select>
                  </ion-item>
                </div>
                  </ion-col></ion-row>
                  <ion-row>
           <ion-col col-12 no-padding>    
              <div class="prcsbx">
                  <label>Description</label>        
<!--              <ion-item>
              
                <ion-input type="text" name="description" [(ngModel)]="data.description" id="description" #description="ngModel"></ion-input>
            </ion-item>-->
 <ion-textarea type="text" rows="2" [(ngModel)]="data.notes" name="notes" #notes="ngModel"></ion-textarea>
              </div></ion-col></ion-row>
                <!-- </ion-list> -->
       </ion-grid>


       <ion-grid no-padding class="listgrid">
          <ion-row>
            <ion-col col-12 no-padding><h3>I am Available</h3></ion-col>
       </ion-row>
             
                  <ion-row>
                     <ion-col col-12 no-padding>    
                         <div class="prcsbx">
                           <ion-grid no-padding>
                             <ion-row>
                               <ion-col col-4>
                                  <h5>Available Days</h5>
                                </ion-col>
                                
                                        
   
   
     <div class="dyz-box"  >
 <ion-item *ngFor="let day of days">
     <ion-label>{{day}}</ion-label>
  <ion-checkbox (ionChange)="updateCheckedOptions(day, $event.checked)"></ion-checkbox>
 </ion-item>
</div>
  

<!--                                            <ion-select [(ngModel)]="data.days" id="days" name="days" #days="ngModel">
                                              <ion-option>Monday</ion-option>
                                              <ion-option>Tuesday</ion-option>
                                              <ion-option>Wednesday</ion-option>
                                              <ion-option>Thursday</ion-option>
                                              <ion-option>Friday</ion-option>
                                              <ion-option>Saturday</ion-option>
                                              <ion-option>Sunday</ion-option>
                                              
                                            </ion-select>
                                          </ion-item>
                                         </div>                                 -->
                            
<!--                                  <ion-col col-5>
                                      <ion-item class="slct-dt">
        <ion-label>End</ion-label>
   <ion-select [(ngModel)]="data.enddays" name="enddays" id="enddays" #enddays="ngModel">
 
      <ion-option>Monday</ion-option>
      <ion-option>Tuesday</ion-option>
      <ion-option>Wednesday</ion-option>
      <ion-option>Thursday</ion-option>
      <ion-option>Friday</ion-option>
      <ion-option>Saturday</ion-option>
      <ion-option>Sunday</ion-option>
      
    </ion-select>
                                        </ion-item>

 <ion-label>End:</ion-label>
  <ion-list class="dyz-box" [(ngModel)]="data.enddays" name="enddays" id="enddays" #enddays="ngModel" >

  <ion-item>
    <ion-label>sunday</ion-label>
    <ion-checkbox ></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Monday</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Tuesday</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
      
        <ion-item>
    <ion-label>Wednesday</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
      
        <ion-item>
    <ion-label>Thursday</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
      
        <ion-item>
    <ion-label>Friday</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
        <ion-item>
    <ion-label>Saturday</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

</ion-list>


                                    </ion-col> -->
                              </ion-row>
                            </ion-grid>
                                    
                            </div>
                         </ion-col></ion-row>
                         <ion-row>
                  <ion-col col-12 no-padding>    
                     <div class="prcsbx">
                        <ion-grid no-padding>
                            <ion-row>
                              <ion-col col-2>
                                 <h5>Timing</h5>
                               </ion-col>
                               <ion-col col-9>
                                  <ion-item class="slct-dt">
                                        
                                      <ion-label>From</ion-label>
                                   
                                           <ion-select [(ngModel)]="data.starttime" id="starttime" name="starttime" #starttime="ngModel">
                                     <ion-option>7:00 AM - 3:00 PM</ion-option>
                                      <ion-option>3:00 PM -11:00 PM </ion-option>
                                  <ion-option>11:00 PM - 7:00 AM </ion-option>
                                  <ion-option>7:00 AM - 7:00 PM</ion-option>
                                           
                                                                                 
                              </ion-select>
                                 </ion-item>
                                 </ion-col> 
<!--                                 <ion-col col-5>
                                      <ion-item>
                                         
                                        <ion-label>End</ion-label>
                                        <ion-datetime displayFormat="HH:mm:ss"></ion-datetime> 
                                        <ion-item class="slct-dt">
                                        
                                            <ion-label>From</ion-label>
                                        
                                                 <ion-select [(ngModel)]="data.endtime" id="endtime" name="endtime" #endtime="ngModel">
                                                    <ion-option>7-3:am  </ion-option>
                                                    <ion-option>3-11:pm</ion-option>
                                                <ion-option>11-7:overnight </ion-option>
                                                 <ion-option>7-7:12 hour </ion-option>
                                                                                       
                                    </ion-select>
                                                                   
                                       </ion-item>
                                   </ion-col> -->
                             </ion-row>
                           </ion-grid>
                    </div></ion-col></ion-row>
           
                <ion-row>
           <ion-col col-12 no-padding>    
              <div class="prcsbx">
                  <label>City</label>        
              <ion-item>
              
                <ion-input type="text" [(ngModel)]="data.city" name="city" #city="ngModel"></ion-input>
            </ion-item></div></ion-col></ion-row>
           
              <ion-row>
              <ion-col col-12 no-padding>    
                  <div class="prcsbx">
                  <!-- <label></label> -->
                  <ion-item class="slct">
                    <ion-label class="stts">Country</ion-label>
                    <ion-select [(ngModel)]="data.country" name="country" id="country" required  #country="ngModel">
<!--                      <ion-option>Available</ion-option>
                      <ion-option>Not available</ion-option>-->
                     <ion-option *ngFor="let name of countries" value="{{name.Country.name}}">{{name.Country.name}}</ion-option> 
                    </ion-select>
                  </ion-item>
                </div>
                  </ion-col></ion-row>
            <ion-row>
           <ion-col col-12 no-padding>    
              <div class="prcsbx">
                  <label>Phone Number</label>        
              <ion-item>
              
                <ion-input type="number" [(ngModel)]="data.phone" name="phone" #phone="ngModel" pattern='[0-9]+' ></ion-input>
            </ion-item></div> 
               <ion-label class="alert alert-danger" color="danger">
  
         <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
         <div [hidden]="!phone.errors.required" >
           Field is required
          </div>
          <div [hidden]="!phone.errors.pattern" >
           Invalid Format
          </div>
           <div [hidden]="!phone.errors.maxlength" >
           Maximum 10 number
          </div>
      </div>
      </ion-label></ion-col></ion-row>
            <ion-row>
           <ion-col col-12 no-padding>    
              <div class="prcsbx">
                  <label>Charges</label>        
              <ion-item>
              
                <ion-input type="number" [(ngModel)]="data.charges" name="charges" #charges="ngModel" placeholder="$/hour"></ion-input>
            </ion-item></div></ion-col></ion-row>
                       <!-- </ion-list> -->
              </ion-grid>
<!--</ion-list>-->


 <ion-grid >
   <ion-row>
     <ion-col col-12>
       <h1>Gallery</h1>
<!--       <ion-slides>
         <ion-slide>-->
           <ion-grid>
             <ion-row>
               <ion-col col-4>
                  <div class="acheivmnt">
                      <div class="icn-pls"> <ion-icon class="add" name="add-circle" (click)="takePhoto()"></ion-icon></div>
                    </div>
               </ion-col>
<!--                 <ion-col col-2></ion-col>
             </ion-row>
               <ion-row>-->
                    <div *ngFor="let document of docloop" >
                <ion-col col-4>
                       
                        <div class="upldimg" >
                         
                            <div class="icn-crs"><ion-icon name="close-circle" (click)="delete(document._id)"></ion-icon> </div>     
                            
                         
          <img *ngIf="this.docloop != ''" class="pic" src={{document.name}}(close)="callbackAfterImageViewerCloses()" #myImage (click)="presentImage(myImage)">
                            </div>
                 </ion-col>
                   </div>
              
               </ion-row>
<!--               <ion-col col-4>
                  <div class="acheivmnt">
                      <div class="icn-pls"> <ion-icon class="add" name="add-circle"></ion-icon></div>
                    </div>
               </ion-col>
               <ion-col col-4>
                  <div class="acheivmnt">
                      <div class="icn-pls"> <ion-icon class="add" name="add-circle"></ion-icon></div>
                    </div>
               </ion-col>-->
            
           </ion-grid>
<!--     </ion-slide>


     <ion-slide>
            <ion-grid>
                <ion-row>
                  <ion-col col-4>
                      <div class="acheivmnt">
                          <div class="icn-pls"> <ion-icon class="add" name="add-circle"></ion-icon></div>
                        </div>
                  </ion-col>
                  <ion-col col-4>
                      <div class="acheivmnt">
                          <div class="icn-pls"> <ion-icon class="add" name="add-circle"></ion-icon></div>
                        </div>
                  </ion-col>
                  <ion-col col-4>
                      <div class="acheivmnt">
                          <div class="icn-pls"> <ion-icon class="add" name="add-circle"></ion-icon></div>
                        </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </ion-slide>
     
       </ion-slides>-->
     </ion-col>
   </ion-row>
 </ion-grid>
 <ion-grid>
   <ion-row>

     <ion-col col-12> 
  <div class="updtbtn">
   <button (click)="gotolist(heroForm)" ion-button full color="blue" class="btnblu" [disabled]="!heroForm.form.valid" >Submit</button></div>
  </ion-col>
   </ion-row>
 </ion-grid>
    </ion-list>
    </form>
    
</ion-content>
